body {
    color: #000000;
    padding:0!important;
    /* blue bg */
	/*background: #3d85c2 url("../img/bg-mcd.gif") repeat !important;*/
}
#main-content {
    box-shadow: 0 0 10px #757575;
    -moz-box-shadow: 0 0 10px #757575;
    -webkit-box-shadow:0 0 10px #757575 ;
}
a, a:hover {
    text-shadow: none !important;
    color: #22878E;
}
ul.faq-list li a:hover, ul.faq-list li a.active{
    background: #22C0CB;
}
#header.navbar-inverse .navbar-inner {
    background:#4e4e4e url("../img/top-bg.jpg") repeat-x !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e4e4e',endColorstr='#4e4e4e',GradientType=0)
    border-width: 0;
}

#header .navbar-inner .nav .dropdown-toggle:hover, .navbar-inner .nav .dropdown.open .dropdown-toggle {
    background-color: #333 !important;
}

#header.navbar-inverse .divider-vertical {
    border-left-color: #2c2d2f;
    border-right-color: #181a1b;
}

#sidebar > ul > li > a {
    color: #fff !important;
}

#sidebar > ul > li a i {
    color: #fff !important;
}

#sidebar > ul > li >a:hover, #sidebar > ul > li:hover>a {
    color: #fff !important;
    background: url("../img/side-bar-list-bg.png");
}

#sidebar > ul > li.active > a{
    background: url("../img/side-bar-list-bg.png");
}

#sidebar > ul > li > ul.sub > li > a {
    color: #fff;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: #EEEEEE;
    background-image: none;
    color: #333333;
    filter: none;
    text-decoration: none;
}

#sidebar > ul > li > ul.sub > li {
    border-bottom: 1px solid #3393A2;
}

#sidebar > ul > li > ul.sub > li:last-child {
    border-bottom:none;
}

.chats li.out .name {
    color: #b14c4c;
}

.chats li.in .message {
    border-left: 2px solid #2f8e95;
}

.chats li.in .message .arrow {
    border-right: 8px solid #2f8e95;
}

.chats li.out .message .arrow {
    border-left: 8px solid #b14c4c;
}

.chats li.out .message {
    border-right: 2px solid #b14c4c;
}

/* Landscape phone to portrait tablet */
@media (max-width:979px) {
    #sidebar {
        background-color: #29a3ac !important;
        -webkit-border-radius: 4px !important;
        -moz-border-radius: 4px !important;
        border-radius: 4px !important;
    }

    #sidebar > ul > li > a {
        border-bottom: 1px solid #30c1cb !important;
    }

    #sidebar > ul > li.active > a, #sidebar > ul > li:hover > a, #sidebar > ul > li > a:hover {
        border-bottom: 1px solid #30c1cb !important;
    }
}

/*----*/

/*lock*/

.lock-avatar-row, .lock-form-row .tarquoise  {
    background: #30c1cb;
}

.lock-avatar-row img {
    border:10px solid #5aced6;
}

.lock-identity span {
    color:#30c1cb;
}

.lock-form-row .tarquoise {
    border:1px solid #30c1cb !important;
}

/*coming soon*/

.coming-soon .input-append .submit-btn {
    background: #2fbfca;
    color: #195e63;
}

.twt-color , .twt-color:hover, .blog .date .day{
    color: #2fbfca !important;
}

ul.social-link li a:hover, .blog .date .month {
    background: #2fbfca;
}


/*blog*/

.blog .date {
    border: 1px solid #2fc0ca;
}

.blog ul li a:hover, .blog-side-bar ul li a:hover { color: #2fc0ca; text-decoration: none;}

.blog .btn:hover {
    background: #2fc0ca;
}

.blog-side-bar ul.tag li a {
    background: #2fc0ca;
}

/*invoice-list*/


.invoice-list h5 {
    color: #2fc0ca;
}

/*about us*/

.about-us h4, .team-member h3, .team-member ul li a:hover, .contact-us h4 {
    color: #2badb6;
}


/* icons */
.iconFlower,.icon_machines02,.icon_machines03{display:inline-block; *display:inline; zoom:1;}
.iconFlower{zoom:1; width:20px; height:20px; background:url(../img/icon_flower.png) no-repeat}
.icon_machines02{width:32px; height:32px; background:url(../img/icon_machines02.png) no-repeat;}
.icon_machines03{width:32px; height:32px; background:url(../img/icon_machines03.png) no-repeat;}

.bodybg{background:url(../img/bg-default.jpg) repeat;}
/* home sidebar */
.home_sidebar{background-color:rgb(217,237,247);width:215px; float:left; overflow:hidden; margin:0;}
.home_sidebar.nobg{background:none;}
.home_sidebar .brand{width:215px; display:block; padding:15px 0; color:#fff; font-size:16px; font-weight:bold; font-family:"微软雅黑"; text-align:center; background:url(../img/logo2.png) no-repeat; text-decoration:none;}
#home_sidebar{clear:both; margin:0;}
.toogler_bg{background-color:rgb(217,237,247); height:34px;}
.sidebar-toggler{background:url(../img/sssjl_bg.png); color:#999; margin-top:5px;}
#main-content{}
.widget{margin-top:5px;}
.home_sidebar dt{height:40px; line-height:40px; border-top:1px solid #23c1cd; background:url(../img/submenu_hover.png) repeat; cursor:pointer;}
.home_sidebar dt:first-child{border-top:none;}
.home_sidebar dt.active,.home_sidebar dt.onhover{background:url(../img/blueTitlebg.png) repeat;color: #fff;}
.home_sidebar dt .icon-box{float:left; font-size:18px; margin:10px 8px 0 10px;}
.home_sidebar dt .arrow{float: right; margin-top: 16px; margin-right: 5px; width: 0; height: 0; border-left: 4px solid #f3f3f3; border-top: 4px solid transparent; border-bottom: 4px solid transparent;}
.home_sidebar dt .arrow.open{float: right; margin-top: 16px; margin-right: 3px; width: 0; height: 0; border-top: 4px solid #f3f3f3; border-left: 4px solid transparent; border-right: 4px solid transparent;}
.home_sidebar dd{display:none; margin:0; background:url(../img/bg-default.jpg) repeat;}
.home_sidebar dd.active{display:block;}
.home_sidebar dd ul{list-style:none; margin:0; background:url(../img/submenu_hover.png) repeat;}
.home_sidebar dd ul li{padding:10px 10px 10px 40px; border-bottom:1px solid #3393A2; background:none; cursor:pointer;}
.home_sidebar dd ul li a{text-decoration:none;color: #000;}
.home_sidebar dd ul li:last-child{border-bottom:none;}
.home_sidebar dd ul li.active,.home_sidebar dd ul li.onhover{background:url(../img/blueTitlebg.png) repeat;color: #fff;}

#main-content.main-content-full{
	margin-left: 0;
}

/* ztreeCombox */
.ztreeCombox,.ztreeCombox[disabled],.ztreeCombox[readonly]{height:26px; margin-bottom:0; line-height:26px; padding:0 5px; background:#fff; cursor:auto; box-shadow:none;}
.ztreeCombBtn{display:inline-block; *display:inline; zoom:1; vertical-align:middle; margin-left:0; width:18px; height:28px; font-size:15px; background:url(../img/ztree_combicon.gif) no-repeat left center; text-decoration:none; text-indent:-10000px;}
.ztreeCombBtn:hover{text-decoration:none;}
.ztreeSearch{padding:6px 0 0 10px;}
.ztreeSearch .searchBtn{height:20px; line-height:22px; padding:0; box-shadow:none; margin:0; width:60px; padding:0 5px; color:#666; vertical-align:middle;}
.ztreeSearch .gosearch{vertical-align:middle; width:34px; height:22px; margin-left:3px; border:none; color:#666; background:url(../img/pageNum.gif) no-repeat left 1px;}
.ztreeSearch .cleanUp{vertical-align:middle; width:34px; height:22px; margin-left:3px; border:none; color:#666; background:url(../img/pageNum.gif) no-repeat left 1px;}
.ztreeSearch .addBtn{vertical-align:middle; width:34px; height:22px; margin-left:3px; border:none; color:#666; background:url(../img/pageNum.gif) no-repeat left 1px;}
.ztreeSearch .checkAll{font-family: 宋体; 
font-size: 12px; 
color: #000000; 
border: 0px;
background-color: #DBFBF7; }
/* 翻页 */
.pagenum{height:42px; line-height:42px;}
.pagenum .total{float:left; padding:0 10px;}
.pagenum .total span{margin:0 5px;}
.pagenum ul{float:right;}
.pagenum ul li{float:left; text-align:center; display:inline; height:22px; line-height:22px; margin-top:10px; margin-right:7px;}
.pagenum ul li a{text-decoration:none; display:block; height:22px; line-height:22px; color:#333; _float:left;}
.pagenum ul li .num{width:34px; background:url(../img/pageNum.gif) no-repeat; color:#333; overflow:hidden;}
.pagenum ul li .num:hover{background-position:left -27px;}
.pagenum ul li .num_on,.pagenum ul li .num_on:hover{width:34px; background:url(../img/pageNum_on.gif) no-repeat; color:#fff;}
.pagenum ul li .prev_next{width:51px; overflow:hidden; background:url(../img/prev_next.gif) no-repeat; color:#333;}
.pagenum ul li .prev_next:hover{background-position:left -27px;}
.pagenum ul li .prev_next_dis{color:#a3a3a3;}
.pagenum ul li .prev_next_dis:hover{background:url(../img/prev_next.gif) no-repeat;}
.pagenum ul li.jump{margin:10px 9px 0 2px;}
.pagenum ul li.jump span{height:22px; line-height:22px; display:block;float:left;}
.pagenum ul li.jump input{float:left;width:43px; height:20px; line-height:20px; margin:0 4px; padding:0 3px; border:1px solid #aaa;}
.pagenum ul.short_page li{height:18px; line-height:18px;margin-top:12px;}
.pagenum ul.short_page li a{height:18px;width:18px;line-height:18px; cursor:default}
.pagenum ul.short_page .prev_icon,.pagenum ul.short_page .prev_icon:hover,.pagenum ul.short_page .prev_icon_dis,.pagenum ul.short_page .next_icon,.pagenum ul.short_page .next_icon:hover,.pagenum ul.short_page .next_icon_dis{background:url(../img/page.gif) no-repeat;}
.pagenum ul.short_page .prev_icon{cursor:pointer}
.pagenum ul.short_page .prev_icon:hover{background-position:0px -24px}
.pagenum ul.short_page .prev_icon_dis{background-position:0px -48px}
.pagenum ul.short_page .next_icon{background-position:0px -72px;cursor:pointer}
.pagenum ul.short_page .next_icon:hover{background-position:0px -96px}
.pagenum ul.short_page .next_icon_dis{background-position:0px -120px}

/* table mcd style */
.table-noborder th,.table-noborder td{border-top:none;}
label{height:28px; line-height:28px;}
div.checker{height:21px;}
.modal-header{padding:3px 15px;}
.modal-header h4{margin:8px 0;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{font-size:12px;}
.btn{padding:2px 6px;}
.btn-primary,.btn-danger,.btn-green,.btn-yellow,.btn-black{height:26px; padding:0 10px; background:none; text-shadow:none; box-shadow:none; border-radius:3px;}
.btn-primary{color:#2fade7; border:1px solid #2fade7;}
.btn-danger{color:#dc5d3a; border:1px solid #dc5d3a;}
.btn-green{color:#a5d16c; border:1px solid #a5d16c;}
.btn-yellow{color:#fcb322; border:1px solid #fcb322;}
.btn-black{color:#333; border:1px solid #333;}
.btn-short{height:22px; padding:0 5px; font-size: 12px}
.btn-primary:hover,.btn-danger:hover,.btn-green:hover,.btn-yellow:hover,.btn-black:hover{border-radius:3px;color: #fff}
.btn-green:hover{background-color:#a5d16c}
.btn-yellow:hover{background-color:#fcb322}
.btn-black:hover{background-color:#333}
label, input, button, select, textarea{font-size:12px;}
select, input[type="file"]{height:28px; line-height:28px; padding:4px 0;}
select{height:26px; padding:0;}
.table-striped.table-mcdstyle tbody > tr:nth-child(2n+1) > td, .table-striped.table-mcdstyle tbody > tr:nth-child(2n+1) > th{background-color:#fff;}
.table-striped.table-mcdstyle tbody > tr:nth-child(2n) > td, .table-striped.table-mcdstyle tbody > tr:nth-child(2n) > th{background:#f9f8f8;}
.table-mcdstyle thead th,.table-mcdstyle thead th.sorting,.table-mcdstyle thead th.sorting_asc,.table-mcdstyle thead th.sorting_desc{
	background: #f8f8f8 url(../img/th_bg.gif) repeat-x left top;
}
.table-mcdstyle thead th span.sort_icon{width:19px; height:19px; zoom:1;  float:right; margin-right:2px;}
.table-mcdstyle thead th.sorting span.sort_icon{background:url(../img/sort_both.png) no-repeat;}
.table-mcdstyle thead th.sorting_asc span.sort_icon{background:url(../img/sort_asc.png) no-repeat;}
.table-mcdstyle thead th.sorting_desc span.sort_icon{background:url(../img/sort_desc.png) no-repeat;}
.table-mcdstyle th,.table-mcdstyle td{border-top:1px dotted #C2BDBD; padding:3px 8px; line-height:25px;}
.table-mcdstyle th a,.table-mcdstyle td a{color:#868686;}
.table-mcdstyle th a:hover,.table-mcdstyle td a:hover{color:#22878e;}
.table-mcdstyle th{text-align:center;}
.queryTable td input{width:80%;}
.queryTable td select{width:88%;}
.serach_add{margin-top:5px;}
#myTable .btn{margin-top:7px;}

.blueTitle{height:40px; line-height:40px; padding-left:18px; background:url(../img/blueTitlebg.png) repeat-x; color:#fff; font-weight:bold; font-size:14px;}
.blueTitle .iconFlower{height:40px; background-position:0 10px; margin-right:8px;}

/* 实时事件流处理中心 */
.sssjlBodybg{background:url(../img/sssjl_bg.png) repeat;}
.header{width:100%; background:#1f262d; height:74px;}
.header .logo{float:left; width:352px; height:74px; background:url(../img/logo.png) no-repeat;}
.header_new{width:100%; height:63px; background:#5c6974 url(../img/header_new_bg.png) repeat-x;}
.sssjl_H2{height:41px; padding-left:8px; margin:0; margin-bottom:10px; background:url(../img/sssjl_H2.png) repeat-x; font-size:18px; color:#000; font-weight:bold;}
.sssjl_H2.marginBottom_0{margin-bottom:0;}
.sssjl_H2 span.icon_sssjl_H2{display:inline-block; *display:inline; zoom:1; width:24px; height:41px; font-size:18px;}
.messages{float:right; position:relative; width:45px; height:36px; margin-top:4px; background:url(../img/icon_bell.png) no-repeat center center; cursor:pointer;}
.sssjl_H2 .messages{margin-top:0;}
div.messages #warnCount{display:block; position:absolute; right:24px; top:0; padding:2px; width:auto; height:auto; line-height:11px; background:#e40077; color:#fff; font-size:11px;}
.dropdown-menu.extended li a{line-height:18px; padding:5px 5px!important;}
#warnMessageList .label{margin-right:4px; margin-top:2px; vertical-align:top;}
#warnMessageList .fright{display:inline-block; *display:inline; zoom:1; width:165px;}
.icon_sssjl_H2{background:url(../img/icon_sssjl_H2.png) no-repeat left center;}
.icon_char_H2{background:url(../img/icon_char.png) no-repeat left center;}
.icon_table_H2{background:url(../img/icon_table.png) no-repeat left center;}
.sssjl_H3{height:38px; line-height:38px; padding-left:7px; background:#d9edf7; border-top:1px solid #bce8f1; border-bottom:1px solid #bce8f1; color:#0085d0; font-size:16px; font-weight:bold;}
.sssjl_H3 ul li{ list-style:disc; height:38px; line-height:38px;}

.machinesList{width:100%; padding-top:8px;}
dl.machines{display:inline-block; *display:inline; zoom:1; margin:0 0 10px 10px; width:300px; border:1px solid #e3e3e3; background:#fff;}
dl.machines.alarmMachine{border:1px solid red;}
dl.machines dt{height:37px; line-height:37px; text-align:left; padding-left:15px; background:url(../img/sssjl_H2.png) repeat-x left -1px; border-bottom:1px solid #e3e3e3; font-size:16px;}
dl.machines dd{margin:0;}
.icon_machines{display:inline-block; *display:inline; zoom:1; width:15px; margin-right:7px; height:37px; background:url(../img/icon_machine_dt.png) no-repeat left 12px;}
dl.machines dd table{width:100%;}
dl.machines dd table tr th,dl.machines dd table tr td{border-bottom:1px solid #f2f2f2; text-align:left;}
dl.machines dd table tr th{width:60px; text-align:center;}
dl.machines dd table tr td.cpuUsedCT{height:72px; vertical-align:bottom; padding:0;}
dl.machines dd table tr.last td,dl.machines dd table tr.last th{border-bottom:none;}
dl.machines .histogramY{display:inline-block; *display:inline; zoom:1; margin:0 2px 0 1px; position:relative; width:10px; font-size:0; height:60px; background:#f8f8f8; border:1px solid #d7d4d4; border-bottom:none; vertical-align:bottom;}
dl.machines .histogramY .bg{width:10px; font-size:0; height:40%; position:absolute; bottom:0px; left:0;}
dl.machines .bg.green{background:#A5D16C;}
dl.machines .bg.yellow{background:#FCB322;}
dl.machines .bg.red{background:#E74955;}
dl.machines .memoryUsedCT{height:46px; padding-top:8px; vertical-align:middle; text-align:left;}
dl.machines .histogramX{display:inline-block; *display:inline; zoom:1; vertical-align:middle; margin-top:-3px; position:relative; width:128px; font-size:0; height:10px; background:#f8f8f8; border:1px solid #d7d4d4;}
dl.machines .histogramX .bg{height:10px;}
dl.machines .memoryUsedCT p{height:30px; line-height:30px; margin:0;}

.charsCT [class*="span"]:first-child{margin-left:1.4%;}
.charsCT .span6{width:48%; margin-left:1.4%;}
.widget-title span.toolButtons{float:right; padding:10px 10px 0 10px;}
.widget-title span.toolButtons a{color:#4C4C4C; margin:0 5px;}
.pagenumWidth690{width:690px; float:right;}
.creatTempletBtn{padding:10px;}

/* 选择逻辑区域 */
.choosed .icon-btn{margin:0 10px; width:auto; display:inline-block; *display:inline; zoom:1; vertical-align:middle; border:1px solid #ddd; padding:10px 25px 10px 15px; margin-top:0; height:auto; position:relative;}
.choosed .icon-btn div{margin:0;}
.choosed .icon-btn .close{position:absolute; right:4px; top:0px;}

/* rewrite jqueryui dialog */
.ui-dialog{padding:0px; background:#fff;border:none; box-shadow:0 0 5px #ddd;}
.ui-widget-overlay {background: #666666;opacity: .5;filter: Alpha(Opacity=50);}
.ui-widget-header{color:#fff;}
.ui-resizable-ne{display:none;}
.ui-dialog .ui-dialog-titlebar{line-height:34px; background:none; background:#4697d5; border:none; padding:0; padding-left:15px; font-size:14px; border-top-left-radius:0; border-top-right-radius:0; border-bottom-right-radius:0; border-bottom-left-radius:0;}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close{padding:1px; cursor:pointer; background:url(../img/jqueryui/ui_close.png) no-repeat center center; border:none;}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close span{cursor:pointer; }
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon-closethick{background:none; border:none;}
.ui-dialog .btns_panel input{color:#fff; font-size:14px;  font-family:"黑体";}
.ui-dialog,.ui-dialog .ui-dialog-content{ zoom:1;padding:0px}
.ui-dialog .ui-dialog-content{ overflow:hidden;padding:0px}

/* 进度查看 */
.step {
	height: 50px;
	margin: 0px;
	padding: 2px 15px 0 15px;
}
.step li {
	margin: 0 10px 0 0;
	float: left;
	padding:0;
	height:50px;
	background-image:url(../img/step_bg.png);
	background-repeat:no-repeat;
}
.step li span {
	float: left;
	text-decoration: none;
	padding:12px 28px 0 45px;
	margin:0;
	background-image:url(../img/step_bg.png);
	background-repeat:no-repeat;
	font-size: 12px;
	font-weight: bold;
}
.step li.step_ok {
	background-position: 0px -55px;
	color: #508e2b;
}
.step li.step_ok span {
	background-position: right -220px;
}
.step li.step_on {
	background-position: 0px -110px;
	color: #e5761c;
}
.step li.step_on span {
	background-position: right -275px;
}
.step li.step_pending {
	background-position: 0px -0px;
	color: #a8a8a8;
}
.step li.step_pending span {
	background-position: right -165px;
}
.step li span.last {
	background: none;
}
.step li.step_pause {
	background-position: 0px -387px;
	color: #5f849f;
}
.step li.step_pause span {
	background-position: right -441px;
}
.step li.step_stop {
	background-position: 0px -332px;
	color: #5f849f;
}
.step li.step_stop span {
	background-position: right -441px;
}

/**修改datapicker 不能选择日期默认样式*/
.datetimepicker table tr td.disabled,.datetimepicker table tr td.disabled:hover{color:#d7d7d7;}